@model IEnumerable<Company>
@{
    ViewData["Title"] = "Home Page";
}

@foreach (var company in Model)
{
    <div class="row">
     
        <h3>@company.Name</h3>
        <hr />
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Title</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in company.Employees)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Email</td>
                        <td>@item.Phone</td>
                        <td>@item.Title</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

}
