@model IEnumerable<Company>
@{
    ViewData["Title"] = "Home Page";
}

<div >
    <a class="btn btn-success" asp-action="AddRecords">Add Test Records</a>
</div>
<div class="row">
    <form  method="get" class="form-check-inline">
        <div>
            <input type="search" placeholder="Enter Name ..." name="q"/>
            <input type="submit" name="name" value="Search" />
        </div>       
    </form>
</div>
@foreach (var company in Model)
{
    <div class="row">
     
        <h3>@company.Name  <a class="btn btn-danger" asp-action="RemoveRecords" asp-route-id="@company.CompanyId">Remove</a></h3>
        <hr />
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Title</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in company.Employees)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Email</td>
                        <td>@item.Phone</td>
                        <td>@item.Title</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

}
